footer {
  background: $color-black;
  color: $color-white;
  padding: $space-4xl 0 $grid-gap-md;

  .footer-content {
    @include grid-container(2fr repeat(3, 1fr), $grid-gap-lg);
    @include border(bottom);
    padding: $grid-gap-md;

    .footer-section {
      h3 {
        font-size: $font-base;
        font-weight: 500;
        margin-bottom: $space-lg;
      }

      p {
        font-size: $font-sm;
        font-weight: 200;
        color: $color-gray;
      }

      ul {
        @include grid-container(1fr, $grid-gap-sm);

        li {
          a {
            color: $color-gray;
            font-size: $font-sm;

            &:hover {
              color: $color-white;
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    padding-top: $grid-gap-md;
    @include grid-container(1fr auto, $grid-gap-md);
    justify-content: space-between;
    align-items: center;

    p {
      font-size: $font-sm;
      color: $color-bg-light;
    }

    .social-link {
      @include grid-container(repeat(4, auto), $grid-gap-md);

      a {
        display: block;
        color: $color-gray-light;

        &:hover {
          color: blue;
        }
      }
    }
  }
}

// 반응형
@include respond(tablet) {
  footer {
    .footer-content {
      @include grid-container(1fr, $space-xs);
    }

    .footer-bottom {
      @include grid-container(1fr, $space-xs);
      text-align: center;

      .social-link {
        justify-content: center;
      }
    }
  }
}