@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-family: 'Noto Sans KR';
}

body {
  font-family: 'Noto Sans KR';
}

ul,
li {
  list-style: none;
}